In [1]:
import pandas as pd
import numpy as np

In [7]:
#read csv file
file=pd.read_csv("data.csv",encoding="latin-1")
file.head()

/home/iradspm/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,2,6,7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,created at,id,author id,Author name,text,lang,like_count,quote_count,reply_count,retweet_count,attachments,geo,source
0,2020-12-30 23:54:13+00:00,1344431631118049284,814949250941546496,Musee,"RT @WaihigaMwaura: 139,475 Kenyans applied for...",en,0,0,0,369,,,Twitter for Android
1,2020-12-30 23:50:13+00:00,1344430623767855104,1091968651652141056,Sonko News,Jonathan Kiprono made the entire internet talk...,en,0,0,0,0,{'media_keys': ['3_1344430621955862530']},,Blog2Social APP
2,2020-12-30 23:49:10+00:00,1344430356766842881,92731878,Capital FM Kenya,Chebukati says IEBC to set own BBI referendum ...,en,0,0,0,0,,,Revive Social App
3,2020-12-30 23:48:03+00:00,1344430076188893191,28963252,Ronald Juxton,RT @mwalimu_dida: IEBC is a loaded gun. And wh...,en,0,0,0,90,,,Twitter for iPhone
4,2020-12-30 23:46:33+00:00,1344429699066376192,253540234,Charley,RT @NationBreaking: IEBC APOLOGISES for tweet ...,en,0,0,0,292,,,Twitter for Android

In [8]:
#filter text column alone
columns=['text']
df=file[columns]

In [9]:
df.head()

                                                text
0  RT @WaihigaMwaura: 139,475 Kenyans applied for...
1  Jonathan Kiprono made the entire internet talk...
2  Chebukati says IEBC to set own BBI referendum ...
3  RT @mwalimu_dida: IEBC is a loaded gun. And wh...
4  RT @NationBreaking: IEBC APOLOGISES for tweet ...

In [10]:
'''
remove all characters in the tweet except the ASCII
ASCII contains the numbers from 0-9, the upper and lower case English letters from A to Z, 
and some special characters.
'''

'\nremove all characters in the tweet except the ASCII\nASCII contains the numbers from 0-9, the upper and lower case English letters from A to Z, \nand some special characters.\n'

In [15]:
import re
def replace_foreign_characters(s):
    return re.sub(r'[^\x00-\x7f]',r'', s)

df['text'] = df['text'].apply(lambda x: replace_foreign_characters(x))

/tmp/ipykernel_10837/3297356899.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].apply(lambda x: replace_foreign_characters(x))

In [16]:
df

                                                     text
0       RT @WaihigaMwaura: 139,475 Kenyans applied for...
1       Jonathan Kiprono made the entire internet talk...
2       Chebukati says IEBC to set own BBI referendum ...
3       RT @mwalimu_dida: IEBC is a loaded gun. And wh...
4       RT @NationBreaking: IEBC APOLOGISES for tweet ...
...                                                   ...
294523  RT @Evans_miloo: The yellow buses from Kisumu ...
294524  RT @HonAyubSavula: IGNORE FAKE OPINION POLLS s...
294525  RT @aajtak:     FIR ,          \n#Shankhnaad #...
294526  RT @MbuiMumbi: Have you people noticed that; \...
294527  Le dossier du moment est l \n\nNhsite pas  cri...

[294528 rows x 1 columns]

In [19]:
#remove @
df['text'] = df['text'].replace({'@':''}, regex=True)
df

/tmp/ipykernel_10837/3944989272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].replace({'@':''}, regex=True)

                                                     text
0       RT WaihigaMwaura: 139,475 Kenyans applied for ...
1       Jonathan Kiprono made the entire internet talk...
2       Chebukati says IEBC to set own BBI referendum ...
3       RT mwalimu_dida: IEBC is a loaded gun. And who...
4       RT NationBreaking: IEBC APOLOGISES for tweet r...
...                                                   ...
294523  RT Evans_miloo: The yellow buses from Kisumu l...
294524  RT HonAyubSavula: IGNORE FAKE OPINION POLLS sh...
294525  RT aajtak:     FIR ,          \n#Shankhnaad #U...
294526  RT MbuiMumbi: Have you people noticed that; \n...
294527  Le dossier du moment est l \n\nNhsite pas  cri...

[294528 rows x 1 columns]

In [20]:
#remove RT
df['text'] = df['text'].replace({'RT':''}, regex=True)
df

/tmp/ipykernel_10837/13189003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].replace({'RT':''}, regex=True)

                                                     text
0        WaihigaMwaura: 139,475 Kenyans applied for th...
1       Jonathan Kiprono made the entire internet talk...
2       Chebukati says IEBC to set own BBI referendum ...
3        mwalimu_dida: IEBC is a loaded gun. And whoev...
4        NationBreaking: IEBC APOLOGISES for tweet ref...
...                                                   ...
294523   Evans_miloo: The yellow buses from Kisumu lef...
294524   HonAyubSavula: IGNORE FAKE OPINION POLLS show...
294525   aajtak:     FIR ,          \n#Shankhnaad #UP ...
294526   MbuiMumbi: Have you people noticed that; \n\n...
294527  Le dossier du moment est l \n\nNhsite pas  cri...

[294528 rows x 1 columns]

In [21]:
df

                                                     text
0        WaihigaMwaura: 139,475 Kenyans applied for th...
1       Jonathan Kiprono made the entire internet talk...
2       Chebukati says IEBC to set own BBI referendum ...
3        mwalimu_dida: IEBC is a loaded gun. And whoev...
4        NationBreaking: IEBC APOLOGISES for tweet ref...
...                                                   ...
294523   Evans_miloo: The yellow buses from Kisumu lef...
294524   HonAyubSavula: IGNORE FAKE OPINION POLLS show...
294525   aajtak:     FIR ,          \n#Shankhnaad #UP ...
294526   MbuiMumbi: Have you people noticed that; \n\n...
294527  Le dossier du moment est l \n\nNhsite pas  cri...

[294528 rows x 1 columns]

In [24]:
df["text"] = df["text"].str.replace(r'^.*:s*', '') #remove usernames in the text--i.e username followed by ':'
df

/tmp/ipykernel_10837/1213642297.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["text"] = df["text"].str.replace(r'^.*:s*', '') #remove usernames in the text--i.e username followed by ':'
/tmp/ipykernel_10837/1213642297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["text"] = df["text"].str.replace(r'^.*:s*', '') #remove usernames in the text--i.e username followed by ':'

                                                     text
0        139,475 Kenyans applied for the position of c...
1       Jonathan Kiprono made the entire internet talk...
2                                       //t.co/PBvUGD0Xma
3        IEBC is a loaded gun. And whoever holds it ca...
4        IEBC APOLOGISES for tweet referring to BBI as...
...                                                   ...
294523                                  //t.co/vHHdgnCZZB
294524   IGNORE FAKE OPINION POLLS showing that Malala...
294525       FIR ,          \n#Shankhnaad #UP Election...
294526   Have you people noticed that; \n\n1. Azimio m...
294527  Le dossier du moment est l \n\nNhsite pas  cri...

[294528 rows x 1 columns]

In [26]:
#remove duplicates
df1=df.drop_duplicates()
df1

                                                     text
0        139,475 Kenyans applied for the position of c...
1       Jonathan Kiprono made the entire internet talk...
2                                       //t.co/PBvUGD0Xma
3        IEBC is a loaded gun. And whoever holds it ca...
4        IEBC APOLOGISES for tweet referring to BBI as...
...                                                   ...
287099  Earlier today both grandpa&amp;ma  received a ...
287100  Kabogo an other sick element shifting from qua...
287135  PaulyShore CNN FoxNews MSNBC allthingscomedy T...
287243  SavvyRinu ghekerz Can we align with Kingsley M...
288145  socialiststeve6 No, not a big fan of Stein. Lo...

[115412 rows x 1 columns]

In [ ]:
#unique characters
set(df1['text'].apply(list).sum())